@import "tailwindcss";

:root {
  --primary-color: #000000;
  --secondary-color: #f8f4eb;
  --supplemetary-color: #393e46;
  --accent-color: #d8d8d8;
  --head-font-family: "Arimo", sans-serif;
  --body-font-family: "DM Sans", sans-serif;
  --additional-font: "Playfair Display", "sans-serif";
}

/* General: */

body {
  background-color: var(--secondary-color);
}



.font-arimo {
  font-family: 'Arimo', sans-serif;
}

.font-dmsans {
  font-family: 'DM Sans', sans-serif;
}

.font-playfair {
  font-family: 'Playfair Display', serif;
}


